.food_tile {
    font-size: 11px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid lavender;
    margin: 10px;
    box-shadow: 1px 2px 5px 1px rgb(230 230 250);

}

.food_tile img {
    margin-bottom: 10px;
    width: 100%;
    transition: .5s ease all;
}

.food_tile:hover img {
    transform: scale(1.1);
}

.food_name {
    font-size: 18px;
    font-weight: 600;
    color: rgba(38, 29, 86, 1);
    margin-bottom: 12px;
}

#fda_product_tile span {
    display: block;
}

.food_detail {
    font-size: 14px;
    margin: 15px 0;
}

#food_meta {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 6px 0 6px 0;
    align-items: center;
}

#food_meta li {
    list-style: none;
    float: left;
    width: calc(100%/3);

    font-size: 14px;
    font-weight: 500;
    color: #918d8d;
    list-style: none;
}

#food_meta li span {
    font-size: 12px;
    font-weight: 800;

}

.btn-default {
    border-top: 1px solid rgba(202, 197, 197, 1);
    color: #033116;
    padding: 12px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-default.positioned-btm {
    display: block;
    text-align: center;
}

.restaurant_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant_ul>li {
    width: calc(100%/4);
}

.food_description {
    padding: 0 12px;
}



.bold {
    font-weight: bold;
}

.clr-1 {
    color: #8a584b;
}

.d-block {
    display: block;
}

.rating {
    display: inline-block;
    border-radius: 3px;
    background: #57c857;
    color: #FFF;
    padding: 0 8px;
    line-height: 18px;
    height: 20px;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
}