<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-area">
        <app-header></app-header>
        <div class="wrapper">
            <div class="align-pad-main">
                <div class="container-fluid">
                    <div class="container">
                        <div class="d-flex">
                            <div class="">
                                <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/e7ee5s3ywwbewl4u5avn"
                                    alt="Image" />
                            </div>
                            <div class="pl-20">
                                <h2>product.productName</h2>
                                <h5>Product.cuisines</h5>
                                <h5> Product.location</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>