<div class="header-area header-fixed">
    <div class='header-top  navbar-expand-md'>
        <div class="navbar-nav d-flex justify-content-between align-items-center">
            <div >
                <a routerLink="/" class="text-white">
                    logo
                </a>
            </div>
            <div class="navbar-links">
                <ul class='d-flex'>
                <li><a routerLink="/home" class="text-white">Home</a></li> 
                <li><a routerLink="/home" class="text-white">About</a></li> 
                <li><a routerLink="/menu" class="text-white">Menu</a></li> 
                <li><a routerLink="/cart" class="text-white">Cart</a></li> 
            </ul>
            </div>
        </div>

         
             
           
    </div>
</div>